/*universal styling*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}
/*body styling*/
body{
    background-color: aquamarine;
}
/*container styling*/
.container{ 
    margin-top: 10px;
    align-items: center;
    background-position: center;
}
/*profile styling*/
.profile h1{
    color: blue;
    font-weight: bolder;
}
/*image styling*/
.profile img{
    border-radius: 40%;
    margin: 10px 4px 2px;
    width: 10%;
    height: 5%;
}
/*info styling*/
.information{
    color:black;
    font-weight: 400;
    font-size: xx-large;
}